<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>KIV/PIA Bikesharing</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
    <header>
        <a th:href="@{/}" style="color: inherit; text-decoration: none;">
            <img th:src="@{/thymeleaf.png}" alt="" style="float: left; height: 3rem; margin-inline: 0.5rem;">
            <h1>Bikesharing</h1>
        </a>
        <a th:href="@{/hello}" style="color: inherit;">Hello World</a>
    </header>

    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>

    <footer style="padding: 0.5rem;">
        &copy; KIV/PIA Bikesharing
        <p layout:fragment="custom-footer">Custom footer here</p>
    </footer>
</body>
</html>