<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=${room.name} + ' chat room')}">
<head>
    <title th:text="${room.name} + ' chat room'"></title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
    <script th:inline="javascript">
        const client = new StompJs.Client();
        client.brokerURL = 'ws://localhost:61614/ws';

        client.onConnect = function onConnect(frame) {
            const destination = '/topic/kiv.pia.chat.room.[(${room.id})]';

            client.subscribe(destination, function onMessageReceived(payload) {
                const message = JSON.parse(payload.body);
                console.log({ message });
            });
        };
        client.activate();
    </script>
</head>
<body>
<section layout:fragment="content" class="my-3">
    <div class="row">
        <main class="col">
            <div class="row justify-content-md-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <div th:each="message : ${messages}" class="d-flex flex-row py-3 border-bottom">
                        <strong th:text="${message.author.username} + ':'" class="me-3 text-nowrap"></strong>
                        <span th:text="${message.text}"></span>
                        <time class="ms-auto text-muted text-nowrap" th:text="${#temporals.format(message.timestamp, 'dd/MM/yyyy HH:mm:ss')}"></time>
                    </div>

                    <form method="post" th:action="@{/room/{roomId}/messages(roomId=${room.id})}" th:object="${messageVO}" class="mt-3">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="messageText" class="col-form-label">
                                    <strong th:text="${user.username} + ':'"></strong>
                                </label>
                            </div>
                            <div class="col">
                                <input type="text" th:field="*{text}" placeholder="Say something..." class="form-control" id="messageText" required autofocus>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div class="col-2">
            sidebar
        </div>
    </div>
</section>
</body>
</html>
