<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Hello World | KIV/PIA Labs</title>
    <script src="content-script.js"></script>
</head>

<body>
<main layout:fragment="content">
    <h1 th:text="#{hello.title}">Hello, world!</h1>

    <dl>
        <dt>input:</dt>
        <dd th:text="${input}"></dd>

        <dt>output:</dt>
        <dd th:text="${output}"></dd>
    </dl>
</main>
</body>
</html>