<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Home | KIV/PIA Labs</title>
    <script src="content-script.js"></script>
</head>

<body>
<main layout:fragment="content">
    <h1>Home</h1>

    <p th:if="${#lists.isEmpty(damageList)}" class="alert alert-info">
        There is no reported damage yet.
    </p>

    <ul th:unless="${#lists.isEmpty(damageList)}" th:each="damage : ${damageList}">
        <li th:text="${damage.description}"></li>
    </ul>

    <h2>Report damage</h2>

    <form method="post" th:action="@{/}" th:object="${newDamage}">
        <div class="mb-3">
            <label for="descriptionField" class="form-label">What happened?</label>
            <input type="text" th:field="*{description}" class="form-control" id="descriptionField">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
</body>
</html>